.row{
  text-align: center;
}
.row h5{
  display: inline-block;
  background-color: rgba(109, 76, 65, 0.2);
  padding: 1rem 5rem;
  border-radius: 50px;  
}

.row a{
  width: 15rem;
}

.row input{
  margin-left: 21rem;
  width: 50rem;
  background-color: rgba(109, 76, 65, 0.2);
}
#admin-kutu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#admin-kutu div {
  margin: 0 10px; /* İstenilen boşluk için */
}
#admin-kutu button{
  margin-bottom: 7px;
}
#next-page2{
  margin-left: 68rem;  
}
#next-page3{
  margin-left: 78rem;
}
input{
  background-color: rgba(109, 76, 65, 0.2);
}