body{
    background-image: url('../images/bugday2.png');
}
.container{
    margin-top: 7rem;
    background-color: rgba(109, 76, 65, 0.2);
    padding: 2rem;
    width: 40rem;
    border: 2px double #ffb300;  
}
.baslik-text{
    color: #6D4C41;
    text-align: center;
    margin-bottom: 1.5rem;
}
.baslik-text b{
    font-size: 7rem;
    margin-bottom: 1.4rem;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .user{
    font-size: 2rem;
}
.mail{
    display: flex;
}
.mail input{
    margin-left: 1rem;
    background-color: rgba(255, 179, 0, 0.2);
}
.sifre{
    display: flex;
}
.sifre input{
    margin-left: 0.7rem;
    background-color: rgba(255, 179, 0, 0.2);
}
.container input:focus{
    background-color: rgba(255, 179, 0, 0.2);

}
.input-wrapper input {
    width: 200px; /* İstenilen genişlikte ayarlayabilirsiniz */
    margin-bottom: 10px; /* İstenilen boşluk için ayarlayabilirsiniz */  
}
.login-button{
    display: flex;
    justify-content: flex-start;
    margin-top: 0.5rem;
    margin-left: 2.7rem;
}



