.row{
  text-align: center;
}
.row h5{
  display: inline-block;
  background-color: rgba(109, 76, 65, 0.2);
  padding: 1rem 5rem;
  border-radius: 50px;  
}

.row a{
  width: 15rem;
}

.row input{
  margin-left: 21rem;
  width: 50rem;
  background-color: rgba(109, 76, 65, 0.2);
}