.background-image-kare{
    background-image: url('../images/bugday2.png'); /* Arka plan resmi */
    background-size: cover;
    background-position: center;
    height: 17rem; /* Ekran yüksekliği kadar alan kaplasın */
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%; 
}
.resim-ustu-yazi {
    position: relative;
    text-align: center;
}
.resim-ustu-yazi .yazi {
    position: absolute;
    margin-top: 14rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ortalama işlemi yaptım */
    color: #6D4C41; /* Metin rengi */
}
.resim-ustu-yazi .yazi p{
    color: rgba(109, 76, 65, 0.7); 
}
.harita-map {
    display: flex;
    justify-content: center; /* Yatayda ortalamak için */
    align-items: center; /* Dikeyde ortalamak için */
    /* İsteğe bağlı olarak diğer stillendirme özellikleri */
}

/* iframe'e kenarlık vermek istemiyorsanız */
.harita-map iframe {
    border: none;
}
