.background-image-kare{
    background-image: url('../images/bugday2.png'); /* Arka plan resmi */
    background-size: cover;
    background-position: center;
    height: 20rem; /* Ekran yüksekliği kadar alan kaplasın */
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
}
.resim-ustu-yazi {
    position: relative;
    text-align: center;
}
.resim-ustu-yazi .yazi {
    position: absolute;
    margin-top: 14rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ortalama işlemi yaptım */
    color: #6D4C41; /* Metin rengi */
}
.resim-ustu-yazi .yazi p{
    color: rgba(109, 76, 65, 0.7); 
}
.form-inline{
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 25%;
}
#form-inline-arama{
    background-color: rgba(109, 76, 65, 0.2);
    width: 40rem;
}
/* Örnek CSS stilleri */
/* Örnek CSS stilleri */
.table th,
.table td {
  max-width: 150px; /* Hücrelerin maksimum genişliği */
  overflow: hidden; /* İçeriğin taşmasını önler */
  text-overflow: ellipsis; /* İçeriği kısaltır ve üç nokta (...) ile gösterir */
  white-space: nowrap; /* Satır sonu karakterlerini göstermez, tek satırda tutar */
}

/* Tür sütununun genişliğini belirleme */
/* Tür ve Marka başlıklarının hizalaması */
.table th:nth-child(2), /* Tür başlığı */
.table th:nth-child(3) { /* Marka başlığı */
  vertical-align: top; /* Başlıkları üste hizalar */
}

/* Tür ve Marka sütunlarının genişliği */
.table td:nth-child(2), /* Tür sütunu */
.table td:nth-child(3) { /* Marka sütunu */
  max-width: 200px; /* Maksimum genişlik ayarı */
  overflow: hidden; /* İçeriğin taşmasını önler */
  text-overflow: ellipsis; /* İçeriği kısaltır ve üç nokta (...) ile gösterir */
  white-space: nowrap; /* Satır sonu karakterlerini göstermez, tek satırda tutar */
}

  
